<header>
	<div class="title">
		<h1>{{pageTitle}}</h1>
	</div>
<ul class="menu">
	<li class="menu-items"><a href="/">Home</a></li>
	<li class="menu-items"><a href="/about">About</a></li>
	<li class="menu-items"><a href="/projects">Projects</a></li>
</ul>
</header>
