<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	<title>Projects Page</title>
	{{> header}}

	</head>
<body>
	{{pageTitle}}	
<p>This is my portfolio page</p>
</body>
{{> footer}}
</html>
